*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 16px;
    background-image: url(./image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:inherit;
    position: relative;
}
.card{
    position: absolute;
    margin: 9rem 0 0 13rem;
    min-height: 340px;
    border: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    border-radius: 0.2rem;
    transition: all ease .3s;
}
.card-body{
    margin-bottom: 20px;
    padding: 5px 8px 0;
}
.card:hover{
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgb(195, 195, 195);
}
.btn::after{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}
.btn:hover::after{
    left: 120%;
}
.btn{
    margin: 15px 0 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid white;
    background-color:blue;
}
.txtResult{
    margin-top: 20px;
}
